@use "sass:math";
@import "assets/css/variables.scss";

* {
  /* 以下为定义滚动条样式 */
  // firefox
  scrollbar-width: thin;
  scrollbar-color: $foreground $background;

  // chromium
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: $background;
  }
  // 定义滚动条轨道：内阴影+圆角
  &::-webkit-scrollbar-track {
    background-color: $background;
  }
  // 定义滑块：内阴影+圆角
  &::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background-color: $foreground;
  }

  color: $foreground;
}

:root {
  font-family: "PingFang SC", "Source Han Sans SC", "Helvetica Neue", Helvetica,
    Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
}

.u-only-small {
  @media (min-width: 768.321px) {
    display: none;
  }
}
.u-only-big {
  @media (max-width: 768.321px) {
    display: none;
  }
}
.u-spacer {
  flex: 1;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
