$foreground: #e7e7e7;
$foreground-2: #e7e7e7af;
$foreground-4: #e7e7e769;

$background: #202022;
$background-0: #101011;
$background-2: #353536;
$background-4: #555555;

$primary: #00dffc;
$primary-2: #008c9e;
$secondary: #08ffea;

$md-strong: #4e94ce;
$md-italic: #9cdcfe;
$md-code: #d7ba7d;
$md-a: #c586c0;

$on-primary: $background;
